:root{
    /* ======== GREEN THEME ========= */
    --color-primary-variant:#e5a55d;
    
    /* background  color*/
    --color-black:#000000; 
    --color-light:hsl(200, 2%, 69%);
    --color-white:hsl(0, 0%, 100%) ;    

    /* ==== SIZES=====  */
    --container-width-lg:88%;
    --container-width-md:92%;
    --transition: all 400ms ease;
}

*{
    margin:0;
    padding:0;
    outline:0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* == scroll smoothly == */

body{
    font-family: 'montserrat', sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
    line-height: 1.7;
}

h1,h2{
    line-height: 1.1;
    font-weight:400 ;
}

h1{
    font-size: 3.5rem;
    color: var(--color-white);
}

h2{
    font-size: 3.5rem;
}

a{
    color: var(--color-white);
    transition: var(--transition);
}

a:hover{
    color: var(--color-primary);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

/* ==== navbar ====*/

nav{
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background-color 0.5s ease;
}


/* === nav clas on scroll using javascript === */
.window-scrolled{
    background:linear-gradient(190deg,var(--color-white),black);
    
    box-shadow: 0 1rem 1rem rgba(0,0, 0,0.3);
    color: black;
}
.window-scrolled  a{
    color: #000;
}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_toggle-btn{
    display: none;
    
}
.nav_logo{
    width: 7.5rem;
}
.nav_links{
    display: flex;
    gap: 4rem;
}
.nav_socials{
    display: flex;
    gap: 1rem;
}
.nav_socials a{
    display: grid;
    width: 2rem;
    height: 2rem;
    background: linear-gradient(var(--color-primary-variant),var(--color-primary));
    border-radius:0.5rem ;
    display: grid;
    color: var(--color-white);
    place-items: center;
}
.nav_socials a:hover{
    box-shadow:0 1rem 1rem rgba(0,0, 0,0.3) ;
} 



/* ====== Header ======= */
header{
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: var(--color-black);
    overflow: hidden;
}

.header_container{
    display: grid;
    grid-template-columns: 42% 52%;
    gap: 4%;
    margin-top: 10rem;
    position: relative;
}

.header_img-bg{
    background: var(--color-white);
    height: 30rem;
    width: 21%;
    position: absolute;
}

.header_img-lg{
    width:80%;
    position:relative;
    top: 1rem;
    left: 1rem;
    border: 0.5rem solid var(--color-white);
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}
.header_img-sm{
    width: 33%;
    height: 29rem;
    position: absolute;
    left: 5rem;
    top: 3rem;
    transition: var(--transition);
}

.header_left:hover .header_img-sm{
    opacity: 0;
}

.header_left:hover .header_img-lg{
    filter: saturate(1) brightness(1);
    border:1rem solid var(--color-light) ;
    top: 0;
    left:0;
}

.header_head{
    display: flex;
    gap: 2rem;
}

/* general empty styles */
.empty{
    height: 3.5rem;
    width: 18rem;
    background: var(--color-white);
    border-radius: calc(3.5rem / 2 ) ;
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem  1rem rgba(0,0,0,0.3);
}

.header_tag{
    color: var(--color-primary-variant);
}
.header_right p {
    margin-top: 2rem ;
    width: 85%;
}


/* show only on tablets and phones */
.header_btn-md{
    display: none;
}


.header_frames{
    position: absolute;
    top: 100vh;
    right: 33rem;
    transition: var(--transition);
    
}
.header_frame{
    width: 12rem;
    border: 0.4rem solid var(--color-white);
    box-shadow: 0 0 4rem rgba(0,0,0,0.3);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}

.header_frame:nth-child(2){
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.header_frames:hover .header_frame{
    transform: rotate(0);
}

.header_frames:hover .header_frame:nth-child(2){
    top:1.5rem;
    left:15rem
}

.contact_btn{
    color: var(--color-white);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.header_btn{
    background: linear-gradient(-30deg,var(--color-primary-variant),var(--color-primary),var(--color-primary-variant));
    position: absolute;
    right: 6%;
    bottom: -3rem;
}
.header_btn:hover{
    box-shadow:0 2rem 2rem rgba(0,0, 0,0.3) ;
    transform: translateY(-1rem);
    color: var(--color-white);
}

.contact_btn i {
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 5s linear ;
}

.contact_btn p span{
    position: absolute;
    transform-origin:0.3rem 5rem;
}

@keyframes spinText{
    to{
        transform: rotate(360deg);
    }
}


/* =========== ABOUT ============ */
#about{
    margin-top: 22rem;
}
.about_container{
    display: flex;
    margin-top: 3rem;
    padding: 1rem;
    position: relative;
}

.about_title{
    position: absolute;
    top: -35%;
    z-index: 1;
}


.about_empty{
    width: 26rem;
    position: absolute;
    right: 5rem;
    top:-6rem;
}
.about_image{
    position: relative;
}

.about_image-bg{
    width: 16rem;
    height:29rem;
    position: absolute;
    bottom: 0;
    background: var(--color-white);
}

.about_image-lg{
    position: relative;
    left: 5%;
    bottom: 5%;
    filter: saturate(0) brightness(0.3);
    width: 100%;
    transition: 500ms ease;
}

.about_image-sm{
    position: absolute;
    bottom: 10rem;
    left: 20%;
    height: 22rem;
    width: 90%;
    overflow: hidden;
    box-shadow: 2rem 2rem 2rem rgba(0,0, 0,0.3);
    transition: 500ms ease;
}
.about_image:hover .about_image-sm{
    opacity: 0;
}

.about_image:hover .about_image-bg{
    bottom: 0;
}
.about_image:hover .about_image-lg{
    border: 1rem solid var(--color-white);
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0,0, 0,0.3);
    left: 0;
    bottom: 0;
}

.about_right{
    margin-left:5rem;
}
.about_right p {
    margin: 0 4rem 1.5rem 3rem;
    border-right: 10px solid var(--color-white);
    padding-right: 1rem;

}


#gallery{
    margin-top: 12rem;
}
.gallery_head{
    display: flex;
    justify-content: space-between;
}

.gallery_container p{
    width: 45rem;
    border-left: 1rem solid var(--color-white);
    padding-left: 1rem;
    text-align: justify;
}

.swiper-wrapper{
    margin-top: 5rem;
    height: 37rem;
    padding-bottom: 5rem;
}
.swiper-slide{
    border :0.5rem solid var(--color-white);
    height: fit-content;
    max-height: 36rem;
    overflow: hidden;
    transition: var(--transition);
}
.swiper-slide:hover{
    box-shadow: 0 3rem 3rem rgb(0,0 ,0 ,0.3);
}

.swiper-slide img{
    filter: saturate(0);
    transition: var(--transition);
}
.swiper-slide img:hover{
    filter: saturate(1);
}

.swiper-pagination-bullet-active{
    background: var(--color-primary);
}

#exhibitions{
    margin-top: 10rem;
}
.exhibitions_container{
    position: relative;
}
.exhibitions_empty{
    width: 26rem;
    position: absolute;
    right:0;
    top:0.5rem;
}
.exhibitions_head{
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    
}
.exhibitions_head > p{
    width: 45rem;
}

.exhibitions_btn{
    color: var(--color-primary-variant);
}

.exhibitions_btn:hover{
    transform: translateY(-1rem);
}

.exhibitions_gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5rem;
    gap: 3rem;
}

.exhibitions_gallery article{
    border: 0.5rem solid var(--color-white);
    transition: var(--transition);
    height: fit-content;
}

.exhibitions_gallery article:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
}
.exhibitions_gallery article:nth-child(1){
    grid-row: 1/3;
}
.exhibitions_gallery article img{
    height: 100%;
    filter:saturate(0);
    transition:var(--transition) ;
}
.exhibitions_gallery article:hover img{
    filter: saturate(1);
}
.exhibitions_gallery article:hover{
    box-shadow: 0 4rem 4rem rgb(0,0, 0,0.5);
}

/* ======= FOOTER ======= */
footer{
    margin-top: 7rem;
}
.footer_container{
    border-top: 0.5rem solid var(--color-white);
    padding-top:5rem ;
}

.footer_head{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer_btn{
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid var(--color-primary-variant);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--color-primary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.footer_btn:hover{
    transform: translateY(-1rem);
    border-color: var(--color-primary);
}

.footer_links{
    margin:3rem 0 5rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
/* MEDIA QUEURIES */

/* ========================= medium screens ====================== */
@media screen and (max-width:1100px){
    .container{
        width: var(--container-width-md);
        position: relative;
    }
    h1{
        font-size: 2.5rem;
        line-height: 2.3rem;
    }
    h2{
        font-size: 2.5rem;
    }

    /* ====  NAV ===== */
    .nav_socials{
        display: none;
    }
    .nav_links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        display: none;
    }

    .nav_links li{
        height: 5rem;
        box-shadow: -3rem 3rem 3rem rgba(0,0, 0,0.7);
    }

    .nav_links li a {
        background: var(--color-black);
        background-color: var(--color-white);
        color: var(--color-black);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
        border-top:1px solid var(--color-black) ;
    }
    .nav_toggle-btn{
        display: inline-block;
        font-size:2rem ;
        background: transparent;
        cursor: pointer;
        color: var(--color-white);
        border: none;
    }
    #nav_toggle-close{
        display: none;
    }




    /* ========== HEADER ============ */
    header{
        height: fit-content;
        display: grid;
        place-items: center;
        padding: 10rem 0 12rem;
        }
    
    .header_img-bg , .header_img-sm{
        display: none;
    }
    .header_container{
        grid-template-columns: 40% 54%;
        gap: 6%;
        margin: 0;
    }
    .header_img-lg{
        filter: saturate(1) brightness(1);
        border: 1rem solid var(--color-white);
        width: 100%;
        top: 0;
        left:0;
    }
    .empty{
        display: none;
    }
    .header_right p{
        width: 100%;
    }
    .header_frames , .contact_btn{
    display: none;
    }
   
    .header_tag{
        margin-bottom: 1rem;
    }

    .header_btn-md{
        background: linear-gradient(135deg,var(--color-primary-variant),var(--color-primary),var(--color-white));
        color: var(--color-white);
        margin-top:2rem;
        display: inline-block;
        padding: 0.6rem 1.6rem;
        font-weight: 600;    
        border-radius: 0.3rem;
    }
    .header_img-lg{
        filter: saturate(1) brightness(1);
        border: 1rem solid var(--color-white);
    }
    .header_btn-md:hover{
        color: var(--color-white);
    }


    /* ======= ABOUT SECTION ======== */
    #about{
        margin-top: 2rem;
    }

    .about_title{
        position: absolute;
        top: -4rem;
        z-index: 1;
    }
    .about_container{
       margin-top: 1rem;
    }
    .about_image-bg , .about_image-sm{
        display: none;
    }
    .about_image-lg{
        left: 0;
        top: 0;
        filter: saturate(1) brightness(1);
    }

    .about_image:hover , .about_image-lg{
        border: none;
    }

    .about_right p {
        margin: 0 4rem 1.5rem 3rem;
        border-right: 10px solid var(--color-white);
        padding-right: 1rem;
    
    }
    .about_right{
        margin: 0;
    }

    /* ======= Gallery Section ======= */
    #gallery{
        margin-top: 8rem;
    }
    .gallery_container p{
        width: 100%;
        margin-top: 2rem;
    }
    .swiper-wrapper{
        margin-top: 4rem;
        height: fit-content;
    }

    /* ====== Exhibitions section ======= */
    .exhibitions_head > p{
        width: 100%;
        margin-top: 2rem;
    }

    .exhibitions_gallery{
        margin-top: 3rem;
        gap: 1rem;
    }
    .exhibitions_gallery article{
        border: none;
    }

    }

    /* ===== media queries small screens  */

    @media screen and (max-width:600px){
        .container{
            width: var(--container-width-md);
            position: relative;
        }
        h1{
            font-size: 2rem;
            line-height: 1.3;
        }
        h2{
            font-size: 2rem;
        }
    
        /* ====  NAV ===== */
        .nav_socials{
            display: none;
        }
        .nav_links{
            position: absolute;
            top: 100%;
            right: 0;
            flex-direction: column;
            gap: 0;
            display: none;
        }
    
        .nav_links li{
            height: 4rem;
            box-shadow: -3rem 3rem 3rem rgba(0,0, 0,0.7);
        }
    
        .nav_links li a {
            background: var(--color-white);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem 5rem 1rem 3rem;
            border-top:1px solid var(--color-white) ;
        }
        .nav_toggle-btn{
            display: inline-block;
            font-size:2rem ;
            background: transparent;
            cursor: pointer;
            color: var(--color-white);
            border: none;
        }
        #nav_toggle-close{
            display: none;
        }
    
    
    
    
        /* ========== HEADER ============ */
        header{
            height: fit-content;
            display: grid;
            place-items: center;
            padding: 10rem 0 10rem;
            }
        
        .header_img-bg , .header_img-sm{
            display: none;
        }
        .header_container{
            grid-template-columns: 1fr;
            gap: 1rem;
            margin: 0;
        }
        .header_img-lg{
            
            width: 80%;
            height: 20rem;
            overflow: hidden;
            margin: 0 auto;
            margin-top:2rem;
            top: 0;
            left:0;
            border-radius: 15rem 15rem 0 0; 
            overflow: hidden;
        }
        .header_head{
            justify-self: center;
        }
        .empty{
            display: none;
        }
        .header_right p{
            margin-top: 1rem;
        }
        .header_frames , .contact_btn{
            display: none;
        }
        .header_tag{
            margin-bottom: 1rem;
        }
    
        .header_btn-md{
            background: linear-gradient(135deg,var(--color-primary-variant),var(--color-primary),var(--color-white));
            color: var(--color-white);
            margin-top:2rem;
            display: inline-block;
            padding: 0.6rem 1.6rem;
            font-weight: 600;    
            border-radius: 0.3rem;
        }
        
        .header_title{
            margin-top: 1rem;
        }
    
    
        /* ======= ABOUT SECTION ======== */
        .about_container{
            grid-template-columns: 1fr;
            gap: 2rem;
        }
        
        .about_right p{
            width: 100%;
            text-align: justify;
        }
        .swiper-slide{
            border: 0;
        }
        .about_right{
            margin: 0;
        }
    
        /* ======= Gallery Section ======= */
        #gallery{
            margin-top: 6rem;
        }
        .gallery_container p{
            margin-top: 1rem;
        }
        .swiper-wrapper{
            margin-top: 3rem;
        }
    
        /* ====== Exhibitions section ======= */
        #exhibitions{
            margin-top: 6rem;
        }
        .exhibtions_head > p{
           
            margin-top: 1rem;
        }
    
        .exhibitions_gallery{
            display: block;
        }
        .exhibitions_gallery article{
            width: 100%;
            height: fit-content;
            margin-bottom: 1rem;
        }
        .footer_head{
            flex-direction: column;
        }
        .footer_head h2{
            font-size: 1.5rem;
        }
        .footer_links{
            flex-direction: column;
            gap: 2rem;
            margin-top: 5rem;
        }
    
    }